:root {
    --relativeSizeSlow:;
    --relativeSize: ;
    --btnFrameNumHeight ;
    --calculatorFrameWidth ;
    --inputWidth ;
}


* {
    border: 2px solid rgb(255, 72, 0);
    background-color: black;
    color: white;
    font-size: 60px
}

div,
span,
input {
    padding: 5px;
}

#body {
    padding: 0px;
    margin: 0px;
}

.btn{
    background-color: rgb(237, 211, 61);
    color: black;
}

#inputFrame{
    display:flex;
    flex:1;
}

#displayTop{
    min-width: 10px !important;
    width: var(--inputWidth);
    white-space: nowrap;
}

#calculatorFrame{
    position: absolute;
    height: 705px;
    width: 655px;
    overflow: auto;
    resize: both;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex:1;
    background-size: contain
}

#dragBar{
    height: 1.2em;
}

.suggestions {
    color: rgb(219, 219, 219)
}

#btnsFrameMain{
    background-color: rebeccapurple;
}

#btnFrameFunc{
    max-width: fit-content;
    height: fit-content;
    display:flex;

}

#btnFrameFunc > *{
    width: fit-content;
    height: fit-content;
}

#numAndSymbolFrame{
    display: flex;
}

#btnFrameNum{
    max-width: fit-content;
    min-width: fit-content;
    height: fit-content;
}

#btnFrameNum > *{
    margin: 0;
}

#btnFrameSymbol{
}

#btnFrameSymbol > *{
}

button{
    margin: 0px;
}