:root {

}


* {
    background-color: black;
    color: white;
    font-size: 60px
}

div,
span,
input {
}

html{
    padding: 0;
    border:0;
    margin: 0;
}


#body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./files/johannes-plenio-YRBPT5x5aLw-unsplash.jpg);
    border:0;
    margin: 0;
}

.btn{
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
}

#inputFrame{
    display:flex;
    flex:1;
}

#displayframe{
    
}

#previousCalculation{
    position: fixed;
    z-index: 2;
    top: 0;
}

#displayTop{
    min-width: 10px !important;
    white-space: nowrap;
    text-indent: 10px;
    border: 2px solid black;
}

input:focus{
    outline: none;
}

#displayBottom{
    min-width: 10px !important;
    white-space: nowrap;
    text-indent: 16px;
    height: 69px;
    font-size: 50px;
}

#calculatorFrame{
    position: absolute;
    height: fit-content;
    width: 605px;
    overflow: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex:1;
    background-size: contain;
    border: 2px solid white;
    border-radius: 50px 50px 20px 20px;
    background-color: rgba(0, 0, 0, 0.377);
   /* 
   transform: scale(0.4,0.4);
   */
    box-shadow: 4px 4px 60px black;
    transform-origin: top left;

    backdrop-filter: blur(15px);
}

#dragBar{
    height: 1.2em;
}

#zoomButtons{
    display: block;
    height: 100%;
    width: 150px;
    margin-bottom: 0;
    display: flex;
    background-color: grey;
}

#zoomButtons > *{
    border-radius: 0;
    width: 100%;
    height: 100%;
    border: 0 3 0 3;
    margin: 0;
}

#zoomoutBtn{
    background-color: rgba(0, 0, 0, 0);
    color:black;
}

#zoominBtn{
    background-color: rgba(0, 0, 0, 0);
    color:black;
}



.suggestions {
    color: rgb(219, 219, 219)
}

#btnsFrameMain{
}

#btnFrameFunc{
    height: fit-content;
    display:flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

#btnFrameFunc > *{
    width: fit-content;
    height: fit-content;
}

#numAndSymbolFrame{
    display: flex;
    gap: 6px;
}

#btnFrameNum{
    max-width: fit-content;
    min-width: fit-content;
    height: fit-content;
    margin-left: 5px;
}

#btnFrameNum > *{
    font-size: 68px;
    width: 65px;
}

#btnFrameSymbol{
    width:365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btnFrameSymbol > *{
    display: flex;
    justify-content: space-between;
}

button{
    margin: 0px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#equals{
    font-size: larger;
}

.symbolFrame{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.symbolFrame > *{
    min-width: 50px;
    padding: 8px;
    margin-left: 2px;
}

#line1,
#line2,
#line3,
#line4{
    height: 94px;
}

#line4 > *{
    font-size: 40px;
}

.displayFrame,
.btnFrame{
    background-color: rgba(0, 0, 0, 0);
}

.display{
    background-color: rgba(0, 0, 0, 0.452);
}

#colorPicker{
    margin: 5px;
    margin-top: 33px;
    position: absolute;

    top: 0;
    right: 0;

    border: 2px solid black;
    background-color: white;
}

.pixelFrame{
}

.pixel{
    border: 2px solid black;
    background-color: white;

    height: 5vw;
    width: 5vw;
}

#resetColors{
    margin:5px;
    position: absolute;

    right:0;

    font-size: calc(10px + 0.4vw);

    align-self: flex-start;

    border-radius: 5px;
}